<html>
<head> 
	<title> Home Page </title>
</head>
<body>
	<form action="home" method="POST">
		<table border="1">
		<tr>
			<td> From </td>
			<td> <input type="text" placeholder="From"> </td>
		</tr>
		<tr>
			<td> To </td>
			<td> <input type="text" placeholder="To"> </td>
		</tr>
		<tr>
			<td> Departure date </td>
			<td> <input type="date"> </td>
		</tr>
		<tr>
			<td> Return date </td>
			<td> <input type="date"> </td>
		</tr>
		<tr>
			<td> Travellers </td>
			<td> <input type="text"> </td>
		</tr>
		<tr>
			<td> Class </td>
			<td> <select name="class"> 
				<option value="Economy">Economy</option>
			</td>
		</tr>
		</table>
	</form>
</body>
</html>