<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Flight Details </title>
	<style>
		table td {
			column-width: 250px;
			text-align: center;
		}
	</style>
</head>

<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'searchFlight/flight_details.css' %}" />
	<form action="payment" method="POST">
		{% csrf_token %}
		<div class="hero">
			{% for flight in data %}
				{% if forloop.first %}
					<h2> {{ flight.source }} <span style='font-size:30px'>&#8594;</span> {{ flight.destination }} </h2> <br>
				{% endif %}
				{% if flight.date > current_date %}
					<div class="form-box">
						<table width="100%">
							<tr>
								<td> {{ flight.company }} </td>
								<td> {{ flight.date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp;{{flight.arrival_date }} </td>
								<td> {{ travellers }} Travellers </td>
								<td> {% if cls == "Economy" %}
									{% widthratio flight.economy_price 1 travellers %} &#8377;
									{% elif cls == "Business" %}
									{% widthratio flight.business_price 1 travellers %} &#8377;
									{% else %}
									{% widthratio flight.first_class_price 1 travellers %} &#8377;
									{% endif %} </td>
							</tr>
							<tr>
								<td> {{ flight.flight_no }} </td>
								<td> {{ flight.departure_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{flight.arrival_time}} </td>
								<td> {{cls}} Class </td>
								<td> <a href="/flight{{ flight.id }},{{ travellers }},{{ cls }}"> Select </a> </td>
							</tr>
						</table>
					</div>
				{% elif flight.date == current_date and flight.departure_time > current_time %}
					<div class="form-box">
						<table width="100%">
							<tr>
								<td> {{ flight.company }} </td>
								<td> {{ flight.date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp;
									{{flight.arrival_date }} </td>
								<td> {{ travellers }} Travellers </td>
								<td> {% if cls == "Economy" %}
									{% widthratio flight.economy_price 1 travellers %} &#8377;
									{% elif cls == "Business" %}
									{% widthratio flight.business_price 1 travellers %} &#8377;
									{% else %}
									{% widthratio flight.first_class_price 1 travellers %} &#8377;
									{% endif %} </td>
							</tr>
							<tr>
								<td> {{ flight.flight_no }} </td>
								<td> {{ flight.departure_time }}
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight.arrival_time
									}} </td>
								<td> {{cls}} Class </td>
								<td> <a href="/flight{{ flight.id }},{{ travellers }},{{ cls }}"> Select </a> </td>
							</tr>
						</table>
					</div>
				{% endif %}
			{% endfor %}
			{% for message in messages %}
				<br><br><br>
				<h2 align="center" style="color:red;"> {{message}} </h2>
				<br>
				<p align="center" style="color:blue;">Please Click <a href="home">here</a> to Search the Flights again.</p>
			{% endfor %}
		</div>
	</form>
</body>
</html>