<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Flight Details </title>
	<style>
		/* table{
		border: 1px solid black;
		border-collapse: collapse;
	} */
		table td {
			column-width: 250px;
			text-align: center;
		}
	</style>
</head>
<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'searchFlight/flight_details.css' %}" />
	<div class="hero">
		<h2> {{ source }} <span style='font-size:30px'>&#8594;</span> {{ destination }} </h2>
		{% for flight in data1 %}
		<div class="form-box">
			<table width="100%">
				{% if flight.date > current_date %}
					<tr>
						<td> {{ flight.company }} </td>
						<td> {{ flight.date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{flight.arrival_date }} </td>
						<td> {{ travellers }} Travellers </td>
						<td> {% if cls == "Economy" %}
							{% widthratio flight.economy_price 1 travellers %} &#8377;
							{% elif cls == "Business" %}
							{% widthratio flight.business_price 1 travellers %} &#8377;
							{% else %}
							{% widthratio flight.first_class_price 1 travellers %} &#8377;
							{% endif %} </td>
					</tr>
					<tr>
						<td> {{ flight.flight_no }} </td>
						<td> {{ flight.departure_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight.arrival_time }} </td>
						<td> {{cls}} Class </td>
						<td> <input type="radio" value="{{ flight.id }} {{ travellers }} {{ cls }} {{ flight.economy_price }} {{flight.business_price}} {{ flight.first_class_price }}" name="select1"> </td>
					</tr>
					{% elif flight.date == current_date and flight.departure_time > current_time %}
					<tr>
						<td> {{ flight.company }} </td>
						<td> {{ flight.date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{flight.arrival_date }} </td>
						<td> {{ travellers }} Travellers </td>
						<td> {% if cls == "Economy" %}
							{% widthratio flight.economy_price 1 travellers %} &#8377;
							{% elif cls == "Business" %}
							{% widthratio flight.business_price 1 travellers %} &#8377;
							{% else %}
							{% widthratio flight.first_class_price 1 travellers %} &#8377;
							{% endif %} </td>
					</tr>
					<tr>
						<td> {{ flight.flight_no }} </td>
						<td> {{ flight.departure_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight.arrival_time }} </td>
						<td> {{cls}} Class </td>
						<td> <input type="radio" value="{{ flight.id }} {{ travellers }} {{ cls }} {{ flight.economy_price }} {{flight.business_price}} {{ flight.first_class_price }}" name="select1"> </td>
					</tr>
				{% endif %}
			</table>
		</div>
		{% endfor %}
		
		<h2> {{ destination }} <span style='font-size:30px'>&#8594;</span> {{ source }} </h2>
		{% for flight in data2 %}
		<div class="form-box">
			<table width="100%">
				{% if flight.date > current_date %}
					<tr>
						<td> {{ flight.company }} </td>
						<td> {{ flight.date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{flight.arrival_date }} </td>
						<td> {{ travellers }} Travellers </td>
						<td> {% if cls == "Economy" %}
							{% widthratio flight.economy_price 1 travellers %} &#8377;
							{% elif cls == "Business" %}
							{% widthratio flight.business_price 1 travellers %} &#8377;
							{% else %}
							{% widthratio flight.first_class_price 1 travellers %} &#8377;
							{% endif %} </td>
					</tr>
					<tr>
						<td> {{ flight.flight_no }} </td>
						<td> {{ flight.departure_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight.arrival_time }} </td>
						<td> {{cls}} Class </td>
						<td> <input type="radio" value="{{ flight.id }} {{ travellers }} {{ cls }} {{ flight.economy_price }} {{flight.business_price}} {{ flight.first_class_price }}" name="select2"> </td>
					</tr>
					{% elif flight.date == current_date and flight.departure_time > current_time %}
					<tr>
						<td> {{ flight.company }} </td>
						<td> {{ flight.date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{flight.arrival_date }} </td>
						<td> {{ travellers }} Travellers </td>
						<td> {% if cls == "Economy" %}
							{% widthratio flight.economy_price 1 travellers %} &#8377;
							{% elif cls == "Business" %}
							{% widthratio flight.business_price 1 travellers %} &#8377;
							{% else %}
							{% widthratio flight.first_class_price 1 travellers %} &#8377;
							{% endif %} </td>
					</tr>
					<tr>
						<td> {{ flight.flight_no }} </td>
						<td> {{ flight.departure_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight.arrival_time }} </td>
						<td> {{cls}} Class </td>
						<td> <input type="radio" value="{{ flight.id }} {{ travellers }} {{ cls }} {{ flight.economy_price }} {{flight.business_price}} {{ flight.first_class_price }}" name="select2"> </td>
					</tr>
				{% endif %}
			</table>
		</div>	
		{% endfor %}
	
		<button type="button" onclick="displayFlight()"> Select </button>
		<div id="price"></div>
		<div id="error"></div>
		<div id="select"></div>
		<script>
			function displayFlight(){
				var ele1=document.getElementsByName('select1');
				var ele2=document.getElementsByName('select2');
				count1=0;
				count2=0;
				for(i=0;i<ele1.length;i++){
					if(ele1[i].checked){
						var originalEle1=ele1[i].value;
						originalEle1=originalEle1.split(' ');
						var separatedEle1=new Array();
						for(var i=0;i<originalEle1.length;i++){
							separatedEle1.push(originalEle1[i]);
						}
						count1=1;
					}
				}
				for(i=0;i<ele2.length;i++){
					if(ele2[i].checked){
						var originalEle2=ele2[i].value;
						originalEle2=originalEle2.split(' ');
						var separatedEle2=new Array();
						for(var i=0;i<originalEle2.length;i++){
							separatedEle2.push(originalEle2[i]);
						}
						count2=1;
					}
				}
				if(count1==0 || count2==0){
					document.getElementById('error').innerHTML='Please select two flights';
				}
				if(separatedEle1[2]=="Economy" && separatedEle2[2]=="Economy"){
					var price=(separatedEle1[1]*separatedEle1[3])+(separatedEle2[1]*separatedEle2[3]);
				}
				else if(separatedEle1[2]=="Business" && separatedEle2[2]=="Business"){
					var price=(separatedEle1[1]*separatedEle1[4])+(separatedEle2[1]*separatedEle2[4]);
				}
				else{
					var price=(separatedEle1[1]*separatedEle1[5])+(separatedEle2[1]*separatedEle2[5]);
				}
				if(count1==1 && count2==1){
					var loc="roundtrip_flight"+separatedEle1[0]+","+separatedEle2[0]+","+separatedEle2[1]+","+separatedEle2[2];
					document.getElementById('price').innerHTML='Total Price : '+price+'<br>';
					document.getElementById('error').innerHTML='';
					document.getElementById('select').innerHTML='<a href="' + loc + '">Book</a>';
				}
			}
		</script>
		</div>
</body>
</html>