<html>
<head> 
	<title> Login </title>
</head>
<body>
	<form action="login" method="POST">
		{% csrf_token %}
		<input type="text" required autocomplete="off" placeholder="username" name="username">
		<br> </br>
		<input type="text" required autocomplete="off" placeholder="password" name="password">
		<br> </br>
		<input type="submit" value="login">
		<br> </br>
		<a href="register"> Create account </a>
	</form>
	<div>
		{% for message in messages %}
		<h3> {{message}} </h3>
		{% endfor %}
	</div>
</body>
</html>