<html>
<head>
    <title>Cancel Ticket</title>
</head>
<body>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'paymentModule/cancel_ticket_style.css' %}"/>
        <div class="wrapper">
            <div class="title">
                Confirmation
            </div>
            <form action="cancel_ticket" method="POST">
                {% csrf_token %}
                <div class="field">
                    <input type="text" required name="username">
                    <label>Username</label>
                </div>
                <div class="field">
                    <input type="password" required name="password">
                    <label>Password</label>
                </div>
                <div class="field">
                    <input type="submit" value="Confirm">
                </div>
            </form>
        </div>
        <!-- <div>
            {% for message in messages %}
            <h3 align="center"> {{message}} </h3>
            {% endfor %}
        </div>
        {% if some_flag %}
            <script>
              alert("I am an alert box!");
            </script>
        {% endif %} -->
</body>
</html>