<html>
<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'paymentModule/payment_style.css' %}"/>
	<div class="wrapper">
		<div class="title">
			Payment
		</div>
		<form action="payment_method" method="POST">
			{% csrf_token %}
			<div class="field">
				<input type="text" required name="fname">
				<label>Firstname</label>
			</div>
			<div class="field">
				<input type="text" required name="lname">
				<label>Last name</label>
			</div>
			<div class="field">
				<input type="text" name="mobno" required pattern="[0-9]{10}">
				<label>Mobile Number</label>
			</div>
			<div class="field">
				<input type="email" required name="email">
				<label> E-mail </label>
			</div>
			<br>
			<div class="select">
				<select name="paymethod" required>
					<option selected disabled> Select Payment Method </option>
					<option value="credit"> Credit card </option>
					<option value="debit"> Debit card </option>
				</select>
			</div>
			<div class="field">
				<input type="submit" value="Continue">
			</div>
		</form>
	</div>
	<table>
			<tr>
				<td> {{ travellers }} </td>
				<td> {{ price }} </td>
				<td> {{ flight.date }} </td>
				<td> {{ flight.company }} </td>
				<td> {{ flight.flight_no }} </td>
				<td> {{ flight.departure_time }} </td>
				<td> {{ flight.arrival_time }} </td>
				<td> {{ flight.source }} </td>
				<td> {{ flight.destination }} </td>
			</tr>
	</table>
</body>
</html>