Ticket reservation is done successfully.

Going Flight details are as follows:
Flight Company: {{flight1.company}}
Flight No: {{ flight1.flight_no }}
Departure City: {{flight1.source}}
Destination City: {{flight1.destination}}
Departure Date : {{ flight1.date }}
Arrival Date : {{ flight1.arrival_date }}
Departure Time : {{ flight1.departure_time }}
Arrival Time : {{ flight1.arrival_time }}
Travellers: {{ travellers }}
Travel Class: {{cls}}

Return Flight details are as follows:
Flight Company: {{flight2.company}}
Flight No: {{ flight2.flight_no }}
Departure City: {{flight2.source}}
Destination City: {{flight2.destination}}
Departure Date : {{ flight2.date }}
Arrival Date : {{ flight2.arrival_date }}
Departure Time : {{ flight2.departure_time }}
Arrival Time : {{ flight2.arrival_time }}
Travellers: {{ travellers }}
Travel Class: {{cls}}