<html>
<head>
	<title>Select Payment Method</title>
</head>
<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'paymentModule/payment_style.css' %}"/>
	<div class="wrapper">
		<div class="title">
			Payment
		</div>
		<form action="roundtrip_payment_method" method="POST">
			{% csrf_token %}
			<div class="field">
				<input type="text" required name="fname">
				<label>Firstname</label>
			</div>
			<div class="field">
				<input type="text" required name="lname">
				<label>Last name</label>
			</div>
			<div class="field">
				<input type="text" name="mobno" required pattern="[0-9]{10}">
				<label>Mobile Number</label>
			</div>
			<div class="field">
				<input type="email" required name="email">
				<label> E-mail </label>
			</div>
			<br>
			<div class="select">
				<select name="paymethod" required>
					<option selected disabled> Select Payment Method </option>
					<option value="credit"> Credit card </option>
					<option value="debit"> Debit card </option>
				</select>
			</div>
			<div class="field">
				<input type="submit" value="Continue" name="continue">
			</div>
		</form>
	</div>
	<div class="form-box">
		<table width="100%">
			<tr>
				<td> {{ flight1.company }} </td>
				<td rowspan="2"> {{ flight1.source }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{ flight1.destination }}</td>
				<td> {{ flight1.date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{flight1.arrival_date }} </td>
				<td> {{ travellers }} Travellers </td>
				<td rowspan="2"> {{ price1 }} &#8377;</td>
			</tr>
			<tr>
				<td> {{ flight1.flight_no }} </td>
				<td> {{ flight1.departure_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight1.arrival_time }} </td>
				<td> {{cls}} Class </td>
			</tr>
		</table>
	</div>
	<div class="form-box">
		<table width="100%">
			<tr>
				<td> {{ flight2.company }} </td>
				<td rowspan="2"> {{ flight2.source }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{ flight2.destination }}</td>
				<td> {{ flight2.date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{flight2.arrival_date }} </td>
				<td> {{ travellers }} Travellers </td>
				<td rowspan="2"> {{ price2 }} &#8377;</td>
			</tr>
			<tr>
				<td> {{ flight2.flight_no }} </td>
				<td> {{ flight2.departure_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight2.arrival_time }} </td>
				<td> {{cls}} Class </td>
			</tr>
		</table>
	</div>
	<p style="color:blue;">Please Click <a href="home">here</a> to go to Home page.</p><br>
</body>
</html>