<html>
<head>
	<style>
		/* table{
		border: 1px solid black;
		border-collapse: collapse;
	} */
		table td {
			column-width: 195px;
			text-align: center;
		}
	</style>
</head>
<body>
	{% load static %}
	{% for message in messages %}
        <h3 align="center"> {{message}} </h3>
    {% endfor %}
	<link rel="stylesheet" type="text/css" href="{% static 'paymentModule/payment_style.css' %}" />
	<div class="hero">
		{% for flight in data %}
		<div class="form-box">
			<table width="100%">
				<tr>
					<td> {{ flight.company }} </td>
					<td rowspan="2"> {{ flight.source }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{ flight.destination }}</td>
					<td> {{ flight.departure_date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{flight.arrival_date }} </td>
					<td> {{ flight.travellers }} Travellers </td>
					<td> {{ flight.price }} &#8377;</td>
				</tr>
				<tr>
					<td> {{ flight.flight_no }} </td>
					<td> {{ flight.departure_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight.arrival_time }} </td>
					<td> {{ flight.cls }} Class </td>
					<td>
						{% if flight.departure_date > current_date %}
							<a href="/cancel_ticket_form{{ flight.id }}">Cancel Ticket</a>
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
		{% endfor %}
	</div>
	
</body>

</html>