<html>
<head>
	<title>Payment History</title>
</head>
<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'paymentModule/payment_history_style.css' %}"/>
	{% for message in messages %}
        <h3 align="center"> {{message}} </h3>
    {% endfor %}
	<table width="100%">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Mobile No</th>
			<th>E-mail</th>
			<th>Payment Method</th>
			<th>Payment date</th>
		</tr>
		{% for i in data %}
			<tr>
				<td> {{ i.first_name }} </td>
				<td> {{ i.last_name }} </td>
				<td> {{ i.mobile_no }} </td>
				<td> {{ i.email }} </td>
				<td> {{ i.payment_method }} </td>
				<td> {{ i.payment_date }} </td>
			</tr>
		{% endfor %}
	</table>
	<p style="color:blue;">Please Click <a href="home">here</a> to go to Home page.</p>
</body>
</html>