<html>

<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'paymentModule/payment_style.css' %}" />
	<div class="hero">
		{% for flight in data %}
		<div class="form-box">
			<table width="100%">
				<tr>
					<td> {{ flight.company }} </td>
					<td rowspan="2"> {{ flight.source }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span>
						&nbsp;&nbsp; {{ flight.destination }}</td>
					<td> {{ flight.departure_date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span>
						&nbsp;&nbsp; {{flight.arrival_date }} </td>
					<td> {{ flight.travellers }} Travellers </td>
					<td> {{ flight.price }} &#8377;</td>
				</tr>
				<tr>
					<td> {{ flight.flight_no }} </td>
					<td> {{ flight.departure_time }}
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight.arrival_time }}
					</td>
					<td> {{cls}} Class </td>
					<td> <a href="/cancel_ticket_form{{ user.id }}">Cancel Ticket</a></td>
				</tr>
			</table>
		</div>
		{% endfor %}
	</div>
</body>

</html>