<html>
<head>
    <title>Cancel Ticket</title>
</head>
<body>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'manageTicket/cancel_ticket_style.css' %}"/>
        <div class="wrapper">
            <div class="title">
                Confirmation
            </div>
            {% for message in messages %}
                <br>
                <h3 align="center" style="color:red;"> {{message}} </h3>
            {% endfor %}
            <form action="cancel_ticket" method="POST">
                {% csrf_token %}
                <div class="field">
                    <input type="text" required name="username">
                    <label>Username</label>
                </div>
                <div class="field">
                    <input type="password" required name="password">
                    <label>Password</label>
                </div>
                <div class="field">
                    <input type="submit" value="Confirm" name="submit">
                </div>
            </form>
        </div>
    <p style="color:blue;">Please Click <a href="home">here</a> to go to Home page.</p>
</body>
</html>