<html>
<head>
	<title>View Ticket</title>
	<style>
		table td {
			column-width: 195px;
			text-align: center;
		}
	</style>
</head>
<body>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'manageTicket/view_ticket.css' %}" />
	<div class="hero">
		{% for message in messages %}
        	<h3 align="center"> {{message}} </h3>
    	{% endfor %}
		{% for flight in data %}
		<div class="form-box">
			<table width="100%">
				<tr>
					<td> {{ flight.company }} </td>
					<td rowspan="2"> {{ flight.source }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{ flight.destination }}</td>
					<td> {{ flight.departure_date }} &nbsp;&nbsp; <span style='font-size:25px'>&#8594;</span> &nbsp;&nbsp; {{flight.arrival_date }} </td>
					<td> {{ flight.travellers }} Travellers </td>
					<td> {{ flight.price }} &#8377;</td>
				</tr>
				<tr>
					<td> {{ flight.flight_no }} </td>
					<td> {{ flight.departure_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flight.arrival_time }} </td>
					<td> {{ flight.cls }} Class </td>
					<td>
						<form action="cancel_ticket_form" method="POST">
							{% if flight.departure_date > current_date %}
								{% csrf_token %}
								<input type="number" name="flight_id" hidden value={{ flight.flight_id }}>
								<input type="number" name="travellers" hidden value={{ flight.travellers }}>
								<input type="number" name="ticket_id" hidden value={{ flight.id }}>
								<input type="text" name="cls" hidden value={{ flight.cls }}>
								<button type="submit" name="submit"> Cancel Ticket </button>
							{% endif %}
						</form>
					</td>
				</tr>
			</table>
		</div>
		{% endfor %}
		<p>Please Click <a href="home">here</a> to go to Home page.</p>
	</div>
</body>
</html>